<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Google calender</h2>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=UTC&bgcolor=%23ffffff&src=NzBhY2Q3MThlM2IyZDA5NmE0MDMwMjljZjQwMmU5Y2I0MjE4NTFiYWUwNGM1ZDBiMjRhY2MxNWExMjVlZDJhYUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4uaW5kaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23C0CA33&color=%2333B679&color=%230B8043" style="border:solid 1px #777" width="1000" height="650" frameborder="0" scrolling="no"></iframe>
</body>
</html>